coaches/README.md
coaches/orig_challenges/challenge00/README.md
coaches/orig_challenges/challenge01/README.md
coaches/orig_challenges/challenge02/README.md
coaches/orig_challenges/challenge03/README.md
coaches/orig_challenges/challenge04/README.md
coaches/orig_challenges/challenge05/README.md
coaches/orig_challenges/challenge06/README.md
coaches/orig_challenges/challenge07/README.md
coaches/orig_challenges/challenge09/README.md
coaches/orig_challenges/challenge10/README.md
coaches/sample_solutions/terraform/.terraform.lock.hcl
coaches/sample_solutions/terraform/main.tf
coaches/sample_solutions/terraform/terraform.tfvars.json
coaches/sample_solutions/terraform_bonus/.terraform.lock.hcl
coaches/sample_solutions/terraform_bonus/main.tf
coaches/sample_solutions/terraform_bonus/terraform.tfvars.json
coaches/sample_solutions/terraform_bonus/modules/resource_groups.tf
